

/* Phần thân trang web */
.main__container{
    background: radial-gradient(rgb(95, 71, 171) 0%, rgba(15,23,42,1) 70%, rgb(2, 2, 37) 80%, rgb(2, 2, 37) 100%);
    display: flex;
    justify-content: center;
}


.main{
    width: 80%;
    font: 16px  'Josefin Sans', sans-serif;
    color: var(--white-color);
    margin: 0 auto;
}

/* Phần banner web */
.web-title{
    color: #fff;
}

.cinemas__banner{
    display: flex;
}

.cinemas__banner-left{
    width: 25%;
}

.cinemas__banner-img{
    width: 100%;
    height: 100%;
}

.cinemas__banner-right{
    width: 75%;
    background: linear-gradient(to right, rgb(87, 64, 166, 1), rgb(59, 89, 188, 1));
    display: flex;
}

.cinemas__banner-right-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

.fa-location-dot{
    margin-right: 10px;
}

.cinemas__banner-name{
    text-transform: uppercase;
    font-size: 46px;
    font-family: var(--font-title);
    margin-bottom: 20px;
    
}

.cinemas__banner-location{
    display: flex;
}

.tabs{
    background: linear-gradient(to right, rgb(55, 42, 92), rgb(12, 23, 44) 50%, rgb(23, 42, 80));
    display: flex;
    justify-content: space-between;
    position: relative;
}

.tab-item{
    display: inline-block;
    text-transform: uppercase;
    padding: 1.5rem 0;
    font-size: 2rem;
    font-family: var(--font-title);
    width: 25%;
    color: #fff;
    text-align: center;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: border 0.5s ease, color 0.2 ease;
}

.tab-item:hover {
    opacity: 1;
    color: rgba(255, 242, 0, 0.874);
    border-color: rgba(255, 242, 0, 0.874);
  }

.tab-item.active {
    opacity: 1;
    color: rgba(255, 242, 0, 0.874);
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: rgba(255, 242, 0, 0.874);
    transition: all 0.2s ease;
  }

/* Hiệu ứng chuyển tab onclick */
.tab-pane {
    display: none; 
}

.tab-pane.active {
    display: block;
}







/* Khối thông tin */
/* Tiêu đề */
.cinemas__showing-title{
    text-align: center;
    font-size: 40px;
    font-family: var(--font-title);
    text-transform: uppercase;
    padding: 30px 0;
}

/* Khối chứa phim đang chiếu */
.cinemas__showing-movies-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.showing__movies{
    width: 49%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.showing__movies-img{
    width: 100%;
    height: auto;
    max-height: 510px;
    border-radius: 8px;
}

.showing__movies-img-link{
    width: 53%;
    height: auto;
    max-height: 510px;
    border-radius: 8px;
}

/* Khối thông tin phim */
.showing__movies-infor{
    width: 46%;
}

.showing__movies-name{
    font-size: 24px;
    font-family: var(--font-title);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white-color);  
}

.showing__movies-attribute{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0;
}

.showing__movies-label{
    display: flex;
    margin-right: 15px;
}

.fa-solid{
    color: var(--icon-color);
    padding-right: 5px;
}

.fa-regular{
    color: var(--icon-color);
    padding-right: 5px;
    
}

.movies__list-content{
    padding-bottom: 10px;
    font-size: var(--font-small);
}

/* Khối thời gian chiếu */
.showing__movies-showtimes{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.667px darkgray;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.showing__movies-date{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-small);
}


.showing__showtimes-link{
    padding-top: 10px;
    font-size: var(--font-small);
}

.showtimes-link{
    color: yellow;
    overflow: hidden; /* Ẩn phần hiệu ứng vượt ra ngoài */
    transition: color 1s;
}

@keyframes linkEffect {
    0% {
        color: yellow; /* Màu nền ban đầu */
    }
    50% {
        color: rgb(139, 138, 147); /* Màu nền khi gợn sóng */
    }
    100% {
        color: yellow; /* Quay về màu nền ban đầu */
    }
}

/* Khi hover vào nút */
.showtimes-link:hover {
    animation: linkEffect 1s infinite; /* Gọi hiệu ứng, lặp lại vô hạn */
}

.showing__movies-ticket-class{
    font-size: var(--font-small);
    text-transform: uppercase;
}

.showing__movies-time-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.movies__time-box{
    width: 22%;
    border: solid 0.667px darkgray;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    margin:0 3px 5px; 
    transition: border 0.3s ease ; 
}

.movies__time-box:hover{
    border-color: yellow;
}

.movies__box-link{
    text-decoration: none;
    color: var(--white-color);
    transition: color 0.3s ease;
}

.movies__box-link:hover{
    color: yellow;
}
/*Hiệu ứng thu gọn suất chiếu*/
.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.toggle-arrow {
    display: inline-block;       /* Đảm bảo rằng mũi tên là khối nội tuyến */
    transition: transform 0.3s;  /* Hiệu ứng xoay mượt mà */
    transform-origin: center;    /* Xoay quanh chính giữa */
    padding-right: 0 !important;
}

/* Phần tử ẩn mặc định */
.toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out; /* Tạo hiệu ứng mượt mà khi mở rộng/thu gọn */
}


/* css Phim sắp chiếu */
/* Tiêu đề */
.cinemas__upcoming-title{
    text-align: center;
    font-size: 40px;
    font-family: var(--font-title);
    text-transform: uppercase;
    padding: 30px 0;
}

/* Khối chứa phim đang chiếu */
.cinemas__upcoming-movies-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.upcoming__movies{
    width: 49%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.upcoming__movies-img{
    width: 100%;
    height: auto;
    max-height: 510px;
    border-radius: 8px;
}


/* Khối thông tin phim */
.upcoming__movies-infor{
    width: 46%;
}

.upcoming__movies-name{
    font-size: 24px;
    margin-bottom: 10px;
    font-family: var(--font-title);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white-color);
    
}

.upcoming__movies-attribute{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
}

.upcoming__movies-label{
    display: flex;

}

.fa-solid{
    color: var(--icon-color);
    padding-right: 5px;
}

.fa-regular{
    color: var(--icon-color);
    padding-right: 5px;
    
}

.movies__list-content{
    padding-bottom: 10px;
    font-size: var(--font-small);
}

/* Khối thời gian chiếu */
.upcoming__movies-showtimes{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.667px darkgray;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.upcoming_movies-showtimes-container{
    width: 100%;
}

.upcoming_txt{
    font-size: var(--font-small);
}


.upcoming__showtimes-link{
    padding-top: 10px;
    font-size: var(--font-small);
}

.showtimes-link{
    color: yellow;
    overflow: hidden; /* Ẩn phần hiệu ứng vượt ra ngoài */
    transition: color 1s;
}

@keyframes linkEffect {
    0% {
        color: yellow; /* Màu nền ban đầu */
    }
    50% {
        color: rgb(139, 138, 147); /* Màu nền khi gợn sóng */
    }
    100% {
        color: yellow; /* Quay về màu nền ban đầu */
    }
}

/* Khi hover vào nút */
.showtimes-link:hover {
    animation: linkEffect 1s infinite; /* Gọi hiệu ứng, lặp lại vô hạn */
}

.upcoming__movies-ticket-class{
    font-size: var(--font-small);
    text-transform: uppercase;
}

.upcoming__movies-time-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.movies__time-box{
    width: 22%;
    border: solid 0.667px darkgray;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    margin:0 4px 5px; 
    transition: border 0.3s ease ; 
}

.movies__time-box:hover{
    border-color: yellow;
}

.movies__box-link{
    text-decoration: none;
    color: var(--white-color);
    transition: color 0.3s ease;
}

.movies__box-link:hover{
    color: yellow;
}

/*Suất chiếu đặc biệt*/
.cinemas__special-title{
    text-align: center;
    font-size: 40px;
    font-family: var(--font-title);
    text-transform: uppercase;
    padding: 30px 0 50px;
    margin: 0;
    font-weight: 400;
}

.cinemas__special-emote{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.fa-face-sad-cry{
    color: white;
    font-size: 38rem;
    margin: 2rem 0 4rem;
}

.cinemas__special-sorry{
    font-size: 3rem;
    line-height: 4.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 0 10rem;
    font-family: var(--font-title);
    color: rgb(250, 229, 0);
}

/* Giá vé css  */
/* Tiêu đề */
.ticket__price-title{
    text-align: center;
    font-size: 40px;
    font-family: var(--font-title);
    text-transform: uppercase;
    padding: 30px 0 50px;
    margin: 0;
    font-weight: 400;
}

.ticket__price-img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.price-img{
    width: 90%;
}

/* Khuyến mãi */
.ticket__price-offer-title{
    text-align: center;
    font-size: 40px;
    font-family: var(--font-title);
    text-transform: uppercase;
    padding: 40px 0 50px;
}

.ticket__price-offer-img{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.offer-img-block{
    width: 31%;
    
}

.offer-img{
   width: 100%;
   border-radius: 4px ;
}



